{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{/each}}

<div class="card card-body">
  <form method="post" action="/displayForms/edit/{{displayForm.id}}?_method=PUT">
    <input type="hidden" name="_method" value="PUT">

  </form>
</div>