{{#if user}}
<br>
<div class="jumbotron" style="background-color: #1b4b17; padding: 3%;">
  <div class="jumbotron" style="padding: 4%;">

  </div>
</div>


{{!-- POST REQUEST
{{#each displayForms}}
<div class="card card-body mb-2">
  <form method="post" action="/displayForms/{{id}}?_method=DELETE">
    <input type="hidden" name="_method" value="DELETE">
  </form>
</div>
{{/each}} --}}

{{else}}
<p>Login required</p>
{{/if}}