{{#if user}}
<br>
<div class="jumbotron">
  <div class=" jumbotron" style="padding: 4%;">

    <div id="map" style="width: 400px; height: 400px;"></div>
<<<<<<< HEAD
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnwZjStz3NwSU88_S3N-c8fXkCfQ6UOSw&callback=initMap">
      </script>
=======
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<---- LEAVE ME HERE ---->&callback=initMap">
    </script>
>>>>>>> 271ac4f5aacac7bcea7c721193cb205293f75398
    <script>
      function initMap() {
        // The location of Uluru
        var uluru = {
          lat: -25.344,
          lng: 131.036
        };
        // The map, centered at Uluru
        var map = new google.maps.Map(
          document.getElementById('map'), {
            zoom: 4,
            center: uluru
          });
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
  </div>
</div>


{{!-- POST REQUEST
{{#each displayForms}}
<div class="card card-body mb-2">
  <form method="post" action="/displayForms/{{id}}?_method=DELETE">
    <input type="hidden" name="_method" value="DELETE">
  </form>
</div>
{{/each}} --}}

{{else}}
<p>Login required</p>
{{/if}}
