<br>
<style>
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
</style>
<form action="/displayForms" method="POST">
  <div class="jumbotron">
    <button type="submit" class="btn btn-dark center" onclick="takescreenshot;">Go</button>



    <div id="map" class="center" style="width: 800px; height: 600px;"></div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{APIKEY}}&callback=initMap">
    </script>
    <script>
      function initMap() {
        // The location of Uluru
        var uluru = {
          lat: -25.344,
          lng: 131.036
        };
        // The map, centered at Uluru
        var map = new google.maps.Map(
          document.getElementById('map'), {
            zoom: 4,
            center: uluru
          });
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
  </div>
</form>
{{!-- POST REQUEST
{{#each displayForms}}
<div class="card card-body mb-2">
  <form method="post" action="/displayForms/{{id}}?_method=DELETE">
    <input type="hidden" name="_method" value="DELETE">
  </form>
</div>
{{/each}} --}}