<nav class="navbar" style="background-color:#2e5274;  border-radius: 5px;">
    <div class="navbar-brand" style="display: inline-block;"><img src="https://tinyurl.com/y32zqmgz" style="width: 20%;"></div>
    <button type="button" class="btn btn-light">Active</button>
    <button type="button" class="btn btn-outline-light">Inactive</button>
    <button type="button" class="btn btn-outline-light">Inactive</button>
</nav>
<br />
<div class="jumbotron" style="background-color: #2e5274">

</div>