<nav class="navbar" style="background-color:#2e5274;  border-radius: 5px;">
    <div class="navbar-brand"><img src="https://tinyurl.com/y32zqmgz" style="width: 20%;"></div>
</nav>
<br />
<div class="jumbotron" style="background-color: #2e5274">
    <div class="container" style="width: 50%">
        <form>
            <div class="form-group">
                <label for="emailInput" style="color: white">Email Address</label>
                <input type="email" class="form-control" id="emailInputField">
                <label for="emailInput" style="color: white">Password</label>
                <input type="password" class="form-control" id="emailInputField">
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <button type="button" class="btn btn-secondary">Submit</button>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-outline-light">Cancel</button>
                </div>
            </div>
            <br />
            <a href="#" style="color: white; text-decoration: underline;" >Reset Password</a>
        </form>
    </div>
</div>