</br />
<div class="jumbotron" style="background-color: #2e5274">
    <div class="container" style="width: 50%">
        <form  action="/reg-proc" method="POST">
            <div class="form-group">
                <label style="color: white">Organization*</label>
                <input type="text" name="org" class="form-control" style="width: 50%;" required>
                <label style="color: white">First Name</label>
                <input type="text" name="fname" class="form-control" style="width: 50%;">
                <label style="color: white">Last Name</label>
                <input type="text" name="lname" class="form-control" style="width: 50%;">
                <label style="color: white">Email Address*</label>
                <input type="email" name="email" class="form-control" id="emailInputField">
                <label style="color: white">Password*</label>
                <input type="password" name="passwd1" class="form-control" required>
                <label style="color: white">Confirm Password*</label>
                <input type="password" name="passwd2" class="form-control" required>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-outline-light">Cancel</button>
                </div>
                
            </div>
            <br />
            <p style="color: white">* Required Field</p>
        </form>
    </div>
</div>